mixin header
	header.header
		.header__in
			a.header__logo_link(href="#")
				img.header__logo_img(src=`${assetsImage}logo_header.svg`)
			.header__nav_wrap
				nav.main_nav
					+menu({
						gl_class: 'main_nav',
						items: [
							{title: 'О нас', url: '#', active: false},
							{title: 'Решения', url: '#', active: false},
							{title: 'Аналитика', url: '#', active: false},
							{title: 'Партнеры', url: '#', active: false},
							{title: 'Контакты', url: '#', active: false},
							{title: 'Подписка', url: '#', active: false},
						],
					})
			.header__social_wrap
				+social({
					mod_block: 'header_mod',
					items: [
						{mod_link: 'social_link--facebook_mod', name_icon: 'facebook', mod_icon: 'icon--size_mod icon--gray_mod'},
						{mod_link: 'social_link--twitter_mod', name_icon: 'twitter', mod_icon: 'icon--size_mod icon--gray_mod'},
						{mod_link: 'social_link--rss_mod', name_icon: 'rss', mod_icon: 'icon--size_mod icon--gray_mod'},
						{mod_link: 'social_link--youtube_mod', name_icon: 'youtube', mod_icon: 'icon--size_mod icon--gray_mod'},
					],
				})
			.header__search_wrap
				button.header__search_button(type="button", aria-label="Поиск")
					+icon('magnifier', 'icon--size_mod icon--gray_mod')
			.header__language_switch_wrap
				ul.language_switch
					li.language_switch__option.language_switch__option--active UA
					li.language_switch__option RU
			.header__burger_wrap
				button.header__burger(type="button", aria-label="Открыть мобильное меню")
					+icon('burger', 'icon--size_mod icon--gray_mod')