@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}

}

%outlined_btn {
	color: $white;
	text-transform: uppercase;

	border-style: solid;
	border-color: $white;

	transition: color .3s ease, background-color .3s ease;

	&:hover, &:focus {
		color: #BD243A;

		background-color: $white;
	}

	@include st_btn();
}

%btn_size_1 {
	padding: 0 1rem;

	font-size: .8rem;
	line-height: calc(2.4rem - 2px);

	border-width: 1px;
}
