.footer_form__in {
	@extend %global_flex_block_row_wrap_flex-start;
}

.footer_form__input_block {
	flex-grow: 1;

	@include bp($point_4, min) {
		margin-right: 1rem;
	}

	@include bp($point_4 - 1) {
		margin: 0 0 1rem 0;
	}
}

.footer_form__input_element {
	padding: 0 1rem;
	min-width: 11.2rem;
	
	font-size: .8rem;
	line-height: calc(2.4rem - 2px);
	color: $white;

	background-color: rgba($white, .34);
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;

	transition: border-color .3s ease;

	&:hover, &:focus {
		border-color: $white;
		box-shadow: none;
	}

	&::placeholder {
		color: $white;
	}
}

.footer_form__button {
	@extend %outlined_btn;
	@extend %btn_size_1;

	@include bp($point_4 - 1) {
		width: 100%;
	}
}