.language_switch {
	@extend %global_flex_block_row_nowrap_flex-start_baseline;
}

.language_switch__option {
	color: $gray;

	cursor: pointer;

	&:not(:last-child) {
		margin-right: 4px;
	}

	&:not(:first-child)::before {
		margin-right: 4px;

		content: "|"
	}

	&.language_switch__option--active {
		font-weight: 700;

		cursor: default;
	}

	&:not(.language_switch__option--active) {
		@extend %transition_color;

		&:hover, &:focus {
			color: #BD243A;

			&::before {
				color: $gray;
			}
		}
	}
}