.post_grid {
	display: grid;
	gap: 1.2rem;

	@include bp($point_1, min) {
		grid-template-columns: 2fr repeat(3, 1fr);
	}

	@include bp($point_1 - 1, $point_2) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include bp($point_2 - 1, $point_4) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include bp($point_4 - 1) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.post_grid__item {
	@include flex_block(row, nowrap, stretch, stretch);

	min-height: 13.8rem;

	&:nth-child(31n + 1),
	&:nth-child(31n + 15) {
		@include bp($point_2, min) {
			grid-area: span 2 / span 2;
		}

		@include bp($point_2 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 7),
	&:nth-child(31n + 18),
	&:nth-child(31n + 19),
	&:nth-child(31n + 20) {
		@include bp($point_2, min) {
			grid-area: span 2 / span 1;
		}

		@include bp($point_2 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 14),
	&:nth-child(31n + 29),
	&:nth-child(31n + 30) {
		@include bp($point_1, min) {
			grid-area: span 2 / span 1;
		}

		@include bp($point_1 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 21),
	&:nth-child(31n + 27) {
		@include bp($point_1 - 1, $point_2) {
			grid-area: span 1 / span 2;
		}

		@include bp($point_2 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 23) {
		@include bp($point_2, min) {
			grid-area: span 2 / span 2;
		}

		@include bp($point_2 - 1, $point_3) {
			grid-area: span 1 / span 2;
		}

		@include bp($point_3 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 28) {
		@include bp($point_1, min) {
			grid-area: span 2 / span 1;
		}

		@include bp($point_1 - 1, $point_2) {
			grid-area: span 1 / span 2;
		}

		@include bp($point_2 - 1) {
			grid-area: span 1 / span 1;
		}
	}

	&:nth-child(31n + 31) {
		@include bp($point_1 - 1, $point_4) {
			grid-area: span 1 / span 2;
		}

		@include bp($point_4 - 1) {
			grid-area: span 1 / span 1;
		}
	}
}