.post {
	width: 100%;

	background: $light_gray;

	&.post--bg_img_mod {
		position: relative;
	}
}

.post__img_wrap {
	.post--bg_img_mod & {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		&::after {
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;

			background: linear-gradient(0deg, $black, transparent);

			content: '';
		}
	}
}

.post__text_wrap {
	.post--bg_img_mod & {
		position: relative;
	}
}

.post__main {
	.post--bg_img_mod & {
		flex-grow: 0;
	}
}

.post__author,
.post__description,
.post__date,
.post__time_to_read {
	.post--bg_img_mod & {
		color: $white;
	}
}

.post__title {
	.post--bg_img_mod & {
		color: $white;

		&:hover, &:focus {
			color: rgba($white, .7);
		}
	}
}

.post__top {
	.post--expanded_mod & {
		margin-bottom: .8rem;
	}
}

.post__title:not(:last-child) {
	.post--expanded_mod & {
		margin-bottom: 3rem;
	}
}

.post__in {
	height: 100%;

	@include flex_block(row, nowrap, flex-start, stretch, stretch);
	@include bp($point_1 - 1) {
		flex-direction: column;
	}

	&.post__in--vertical_mod {
		@extend %global_flex_block_column_nowrap_flex-start;
	}
}

.post__img_wrap {
	.post__in--vertical_mod & {
		width: 100%;
		height: 13.8rem;
	}
}

.post__img_wrap {
	position: relative;

	flex-shrink: 0;
	width: 13.6rem;

	@include bp($point_1 - 1) {
		width: 100%;
		height: 13.8rem;
	}
}

.post__picture {
	display: block;
	width: 100%;
	height: 100%;
}

.post__img {
	@extend %cover_img;
}

.post__play_icon_link {
	position: absolute;
	top: 50%;
	left: 50%;

	margin: -2.8rem 0 0 -2.8rem;
	width: 5.6rem;
	height: 5.6rem;

	cursor: pointer;
}

.post__text_wrap {
	@extend %global_flex_block_column_nowrap_flex-end_stretch;

	flex-grow: 1;
	padding: .8rem;

	&.post__text_wrap--large_padding_mod {
		padding: 1.2rem;
	}
}

.post__top {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin-bottom: .6rem;
}

.post__category {
	font-size: .8rem;
	font-weight: 500;
	line-height: 1.2rem;

	&:not(:last-child) {
		margin-right: 1rem;
	}

	&.post__category--color_1_mod {
		color: #00568A;
	}

	&.post__category--color_2_mod {
		color: #3A2796;
	}

	&.post__category--color_3_mod {
		color: #5496E3;
	}

	&.post__category--color_4_mod {
		color: #AF2323;
	}

	&.post__category--color_5_mod {
		color: #F98C30;
	}

	&.post__category--color_6_mod {
		color: #4C7D14;
	}

	&.post__category--color_7_mod {
		color: #C646A3;
	}

	&.post__category--bg_1_mod {
		padding: 0 .6rem 2px;

		color: $white;

		background-color: #5496E3;
	}

	&.post__category--bg_2_mod {
		padding: 0 .6rem 2px;

		color: $white;

		background-color: #00568A;
	}
}

.post__top_icon_wrap {
	flex-shrink: 0;
	margin-left: auto;
	width: .4rem;
	height: 1rem;
}

.post__main {
	flex-grow: 1;
	margin-bottom: .6rem;
}

.post__author {
	margin-bottom: .6rem;

	font-size: .8rem;
	line-height: 1.2rem;
	color: $gray;

	&.post__author--top_mod {
		margin: 0 0 0 auto;
	}
	
	strong {
		font-weight: 500;
	}
}

.post__title {
	@extend %transition_color;

	display: block;

	font-weight: 500;
	color: $color_text_base;

	&:hover, &:focus {
		color: rgba($color_text_base, .7);
		text-decoration: none;
	}

	&:not(:last-child) {
		margin-bottom: .4rem;
	}

	&.post__title--uppercase_mod {
		text-transform: uppercase;
	}

	&.post__title--large_mod {
		font-size: 2.2rem;
		line-height: 2.2rem;
	}

	&.post__title--medium_mod {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

.post__bottom {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.post__date {
	font-size: .8rem;
	line-height: 1.2rem;
	color: $gray;

	&:not(:last-child) {
		margin-right: 1rem;
	}
}

.post__time_to_read {
	margin-left: auto;

	font-size: .8rem;
	line-height: 1.2rem;
	color: $gray;
}