//---------------------------------------------sections
.section {
	position: relative;

	padding: 0 1rem;
	width: 100%;

	font-size: 1rem;

	&.section--post_grid_mod {
		margin-bottom: 4rem;
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}
