.sidebar {
	@extend %global_flex_block_row_nowrap_flex-start_center;
	@extend %transition_transform;

	margin-left: auto;

	@include bp($point_1 - 1) {
		position: fixed;
		top: 0;
		right: 0;

		padding: 5.4rem var(--gl-indent) var(--gl-indent);
		max-width: 20rem;
		height: 100vh;

		background-color: $white;

		overflow-y: auto;
		transform: translate(100%);

		@include flex_block(column, nowrap, flex-start, stretch);

		&.sidebar--active_mod {
			box-shadow: 0 0 4px 2px rgba($black, .2);

			transform: translate(0);
		}
	}
}

.sidebar__search_form {
	@include bp($point_1, min) {
		display: none;
	}

	@include bp($point_1 - 1) {
		margin-bottom: 2rem;
	}
}

.sidebar__nav {
	@include bp($point_1, min) {
		margin-right: 2rem;
	}

	@include bp($point_1 - 1) {
		margin-bottom: 2rem;
	}
}

.sidebar__social {
	@include bp($point_1, min) {
		margin-right: 2rem;
	}

	@include bp($point_1 - 1) {
		margin-bottom: 2rem;
	}
}

.sidebar__search_button {
	width: 1.2rem;
	height: 1.2rem;

	@include bp($point_1, min) {
		margin-right: 2rem;
	}

	@include bp($point_1 - 1) {
		display: none;
	}
}