//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	padding: 0 1rem;
	height: var(--height-header);
	width: 100%;

	font-size: 1rem;

	background: $white;

	will-change: transform;

	@include z-index(header);
}

.header__in {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	margin: 0 auto;
	max-width: $page_width;
	height: 100%;
}

.header__logo_link {
	display: block;
	flex-shrink: 0;
	margin-right: 3rem;
	width: 8.6rem;
	height: 2.8rem;
}

.header__logo_img {
	@extend %contain_img;
}

.header__nav_wrap {
	@extend %global_flex_block_row_wrap_flex-end_center;

	flex-grow: 1;
	margin-right: 2rem;

	@include bp($point_1 - 1) {
		display: none;
	}
}

.header__social_wrap {
	margin-right: 1.6rem;

	@include bp($point_1 - 1) {
		display: none;
	}
}

.header__search_wrap {
	@extend %global_flex_block_e;

	margin-right: 1.2rem;

	@include bp($point_2 - 1) {
		display: none;
	}
}

.header__search_button {
	width: 1.2rem;
	height: 1.2rem;

	fill: $gray;
	cursor: pointer;

	@include bp($point_1 - 1) {
		display: none;
	}
}

.header__language_switch_wrap {
	@include bp($point_1 - 1) {
		display: none;
	}
}

//------------------------------------------------------------layout###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: .4rem;
	margin-top: -.2rem;
	background: $gray;
}

.menu_trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	right: var(--gl-indent);
	display: none; // hidden on wide screens
	height: 2.6rem;
	width: 3.8rem;
	margin: -1.6rem 0 0 auto;
	text-transform: uppercase;

	color: transparent;
	cursor: pointer;

	@include bp($point_1 - 1) {
		display: block; // appear on tablets
	}

	&:before {
		content: '';
		transform: translate(0, -1rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}
	&:after {
		content: '';
		transform: translate(0, 1rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}
	&.active_mod {
		&:before {
			transform: (rotate(45deg) translate(0, 0));
		}

		&:after {
			transform: (rotate(-45deg) translate(0, 0));
		}
	}
}

.menu_trigger_decor {
	transition: all .3s ease;

	.active_mod & {
		opacity: 0;
		transform: translate(100%, 0);
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###